<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
        bootstrap="tests/bootstrap.php" 
        colors="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false">
    <testsuites>
        <testsuite name="Logger Test Suite">
            <directory>tests/Logger/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Logger/</directory>
        </whitelist>
    </filter>
</phpunit>